<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4">
        <ion-card>
          <ion-card-content>
            <div class="top">
              <ion-label>Hourly Status</ion-label>
              <ion-label>10/05/2020</ion-label>
            </div>
            <canvas #hourlystatus ></canvas>
           <div id="bottom">
            <div class="bottom">
              <h1>02</h1>
              <ion-label style="padding:5px">Total number of <br>unique near by devices</ion-label>
            </div>
            <div class="bottom"> 
              <h1>98%</h1>
              <p>Top nearby <br>device% of time</p>
            </div>
          </div>
         </ion-card-content>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
