<!--<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card>
    <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p style="color:black"><b>Weekly Status</b> </p>
      </ion-col>
      <ion-col class="ion-text-end">
        <p style="color:black"><b>22/05/2020-30/05/2020</b></p>
      </ion-col>
    </ion-row>
</ion-grid>
<canvas #barChart></canvas>
<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <h1 style="color:lightgreen"><b>02</b></h1>
      <p style="color:black">Total number of unique near by devices</p>
    </ion-col>
    <ion-col class="ion-text-center">
      <h1 style="color:lightgreen"><b>98%</b></h1>
      <p style="color:black">Top nearby device % of time</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
