<ion-header>
  <ion-toolbar  color="primary">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="device"></ion-back-button>
            </ion-buttons>
            <ion-title >Near by devices history</ion-title>
           <!-- <ion-grid>
              <ion-row class="ion-justify-content-between">  
                <ion-col size="9">  
        </ion-col>  
        <ion-col size="3">  
          <div>
            <ion-icon  name="bluetooth-outline"></ion-icon>
             <ion-icon name="call-outline"></ion-icon>
          </div>  
        </ion-col>  
      </ion-row>  
    </ion-grid>-->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="Hourly">
      <ion-label>Hourly</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Daily">
      <ion-label>Daily</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Weekly">
      <ion-label>Weekly</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> 
</ion-content>
