<ion-header>
  <ion-toolbar color="primary">
    <div style="display: flex;">
    <div>
        <ion-icon style="margin-bottom:-6px" name="reorder-three"></ion-icon>
          <h2 style="display:inline;padding-left:10px;">History</h2>
          </div>
        <div class="item item-icon-right">
            <ion-icon  name="bluetooth-outline" ></ion-icon>
            <ion-icon name="call-outline"></ion-icon>
            </div>
          </div>
  </ion-toolbar>
</ion-header>
<ion-content>
 <!--- <ion-card>
    <ion-card-content>
      <ion-grid >
        <ion-row>
          <ion-col class="ion-text-start">
            <ion-icon src="/assets/bluetooth.svg"></ion-icon>
            </ion-col>
            <ion-col  class="ion-text-center">
            <h5>Nearby Devices History</h5>
            <p>View near by devices data for past days</p>
            </ion-col>
            <ion-col class="ion-text-end">
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col class="ion-text-start">
          <ion-icon src="/assets/thermometer-temperature-svgrepo-com.svg"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center">
          <span>
          <h5>Temperature History</h5>
          <p>View Temperature data for past days</p>
          </span>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start">
          <ion-icon src="/assets/bar.svg"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-center">
          <h5>Gate Entry Status History</h5>
          <p>View Gate entry status for past days</p>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
    </ion-card>
    <ion-card  size-md="4">   
      <ion-card-content  style="display:flex;">
        <ion-icon class="ion-padding" src="/assets/bar.svg"></ion-icon>
        <div class="ion-padding">
        <h5><b>Gate entry status history</b></h5>
        <p>view gate entry status for past days</p>
        </div>
        <ion-icon class="ion-padding" name="chevron-forward-outline"></ion-icon>
      </ion-card-content>
    </ion-card>-->
  <ion-card>
      <ion-card-content style="display:flex;" class="no-padding">
          
              <ion-item lines="none">
                <ion-icon src="/assets/bar.svg"></ion-icon>
                </ion-item>
            
                
                  <ion-item lines="none">
                    <div>
                    <h5>Gate entry status history</h5>
                    <p>view gate entry status for past days</p>
                    </div>
                  </ion-item>
              
                  
                    <ion-item lines="none">
                      <ion-icon name="chevron-forward-outline"></ion-icon>
                    </ion-item>
                  
          
        
      </ion-card-content>
    </ion-card>
    </ion-content>
  